#header {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
  padding-left: 10vw;
  padding-right: 10vw;
}

#header p {
  margin-bottom: 0rem;
}

#header-icon {
  display: flex;
  align-items: center;
}

#header-links {
  display: flex;
  align-items: center;
  width: 50vw;
  justify-content: space-around;
}

#header-icon {
  font-weight: bold;
}
#header a {
  color: #212529;
}

#header a:hover {
  color: #212529;
  text-decoration: none;
}

.headings {
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero {
  background-image: url("https://static.wixstatic.com/media/255192_0b6e8563c9c9425ba4b5474157ca451e~mv2_d_7544_5032_s_4_2.jpg/v1/fill/w_1225,h_675,al_c,q_85,usm_0.66_1.00_0.01/255192_0b6e8563c9c9425ba4b5474157ca451e~mv2_d_7544_5032_s_4_2.webp");
  background-color: #ccc;
  background-repeat: no-repeat no-repeat;
  background-size: cover;
  box-sizing: border-box;
  width: 100%;
}

#hero-overlay {
  color: white;
  background-color: rgba(0, 0, 0, 0.65);
  height: 60vh;
  display: flex;
  align-items: center;
}

.hero-text {
  display: flex;
  flex-direction: column;
  margin-left: 15vw;
  margin-right: 15vw;
  font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
  /*justify-content: center;
  align-items: center;*/
}

.hero-text p {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.hidden {
  display: none;
}

h1 {
  font-size: 50px;
  font-weight: 800;
}

#email-field{
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-color: transparent;
  padding-left: 10px;
}

#signup-button {
  background-color: #1a73e8;
  border-style: solid;
  border-color: #1a73e8;
  border-width: 2px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#signup-button i {
  padding-right: 3px;
}

.footer {
  width: 100vw;
  height: 15vh;
  background-color: #DFE7ED;
  display: flex;
  padding-left: 15vw;
  padding-right: 15vw;
  padding-top: 5vh;
  justify-content: space-between;
}

.footer a {
  color: #788896!important;
}

footer a:hover {
  text-decoration: none;
}

.footer-links {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-links p {
  margin-right: 30px;
  font-weight: 400;
  color: #788896;
  font-family: sans-serif;
  margin-top: 0.5rem;
}

.footer-social {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  font-size: 25px;
  color: #788896;
  flex-wrap: wrap;
}

.footer-social span {
  margin-left: 15px;
}

.blogposts {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  justify-content: center;
  margin-bottom: 30px;
}

.post {
  width: 90vw;
  box-shadow: -10px 10px 10px #80808047;
  border-radius: 10px;
  color: #212529;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #e9ecef;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
}

.grow { transition: all .3s ease-in-out; }
.grow:hover { transform: scale(1.05); }

.post h6 {
  font-size: 1.6rem;
}

.post p {
  margin-bottom: 0px;
}

.post-text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.post-image {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

a:hover {
  text-decoration: none!important;
}

@media (max-width: 880px) {
  #header-links {
    display: none !important;
  }
  h1 {
    font-size: 2em;
  }
  .hero-text {
    margin-left: 10vw;
  }
  h2 {
    font-size: 2em !important;
  }
  .footer-links {
    display: none;
  }
  #email-field {
    max-width: 225px;
  }
}
